@model RxTracker.ViewModels.Transaction.ListViewModel

<div class="container">
  <input type="hidden" id="View" value="Transaction" />
  <button type="button" id="btnCreate" class="btn btn-primary">Add New Transaction</button>
  <div class="row">
    <div class="col-6 scroll">
      <table class="table table-sm table-striped table-hover">
        <thead>
          <tr>
            <th>Medication</th>
            <th>Date</th>
            <th>Pharmacy</th>
          </tr>
        </thead>
        <tbody id="listBody">
          @foreach (var transaction in Model.TransactionList)
          {
            <tr data-id="@transaction.TransactionId">
              <td>@transaction.DrugDisplayName</td>
              <td>@transaction.DateFilled</td>
              <td>@transaction.Pharmacy</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="col-1"></div>
    <div id="partialView" class="col-5"></div>
  </div>
</div>
