html {
    height: 100vh;
}

body {
    background-image: linear-gradient(to bottom right, lightskyblue, ghostwhite);
    height: 100vh;
}

.main-content {
    height: 88vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: center;
}

footer .container {
    text-align: center;
}

img {
    border-radius: 5px;
}

.header {
    margin-bottom: 8vh;
}

.list-group-item {
    padding: 0.5rem 0.75rem;
    color: blue;
}

.list-first {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.list-last {
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.scroll {
    max-height: 65vh;
    overflow-y: auto;
}
.scroll2 {
    max-height: 50vh;
    overflow-y: auto;
}

th {
    position: sticky;
    top: 0px;
    background-color: ghostwhite;
    color: var(--header-text);
    border: none;
}

.selected {
    background-color: green !important;
    color: ghostwhite;
}
    .selected:hover {
        color: ghostwhite !important;
    }

#btnCreate {
    margin-bottom: 1rem;
}

td {
    padding-right: 1rem !important;
}

label.nav-link {
    padding-top: 9px;
}

#monthCost {
    width: 4rem;
}

/**********************
    DROPDOWN LINKS
**********************/
.my-dropdown {
    display: none;
    z-index: 100;
    position: absolute;
    padding: 0.5rem 1rem;
    background-color: white;
    font-weight: normal;
}

a:hover + .my-dropdown {
    display: block;
}

.my-dropdown:hover {
    display: block;
}

.my-dropdown-item {
    display: block;
    cursor: default;
    padding-left: 0.5rem;
    padding-bottom: 2px;
    border-radius: 0.25rem;
    color: #333;
}

.function-links {
    color: blue !important;
    cursor: pointer;
}

.optGroup {
    display: block;
    cursor: default;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 0.25rem;
    user-select: none;
    -moz-user-select: none;
}

.my-dropdown a:hover {
    background-color: #eee;
    text-decoration: none;
}

/**********************
      CHECKBOX
**********************/
input[type=checkbox] {
    display: none;
}

.my-checkbox-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5rem;
}

    .my-checkbox-group span {
        margin-right: 0.3rem;
    }

        .my-checkbox-group span label {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.5rem;
            height: 1.5rem;
            background-color: ghostwhite;
            border-radius: 2px;
            border: 3px solid darkgrey;
            border-style: double;
        }

    .my-checkbox-group label {
        padding: 0 0 0.15rem 0;
        margin: 0;
        user-select: none;
        -moz-user-select: none;
    }

        .my-checkbox-group label:hover {
            cursor: pointer;
        }

    .my-checkbox-group input:checked ~ label::after {
        content: "";
        height: 1rem;
        width: 0.4rem;
        border: solid black;
        border-width: 0 3px 3px 0;
        transform: rotate(40deg);
    }
