@model RxTracker.ViewModels.Drug.ListViewModel

<div class="container">
  <input type="hidden" id="View" value="Drug" />
  <button type="button" id="btnCreate" class="btn btn-primary">Add New Drug</button>
  <div class="row">
    <div class="col-4 scroll">
      <table class="table table-sm table-striped table-hover">
        <thead>
          <tr>
            <th>Medication</th>
          </tr>
        </thead>
        <tbody id="listBody">
          @foreach (var drug in Model.DrugList)
          {
            <tr data-id="@drug.DrugId">
              <td>@drug.DisplayName</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="col-1"></div>
    <div id="partialView" class="col-5"></div>
  </div>
</div>
