@model  ListViewModel

<div class="container">
  <input type="hidden" id="View" value="Prescription" />
  <button type="button" id="btnCreate" class="btn btn-primary">Add New Prescription</button>
  <div class="row">
    <div class="col-5">
      <table class="table table-sm table-striped table-hover table-responsive">
        <thead>
          <tr>
            <th>Medication</th>
            <th>Doctor</th>
          </tr>
        </thead>
        <tbody id="listBody">
          @foreach (var prescription in Model.PrescriptionList)
          {
            <tr data-id="@prescription.PrescriptionId">
              <td>@prescription.DrugDisplayName</td>
              <td>@prescription.DoctorName</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div id="partialView" class="col-7"></div>
  </div>
</div>