@model  ListViewModel

  <div class="container">
    <div class="row">
      <div class="col-5">
        <table class="table table-sm table-striped table-hover table-responsive">
          <thead>
            <tr>
              <th>Drug</th>
              <th>Trade Name</th>
            </tr>
          </thead>
          <tbody id="listBody">
            @foreach(var prescription in Model.PrescriptionList)
            {
              <tr data-id="@prescription.PrescriptionId">
                <td>@prescription.DrugName</td>
                <td>@prescription.TradeName</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
      <div id="partialView" class="col-7"></div>
    </div>
  </div>