

<div class="container">
  <h1>About</h1>
  <div class="row">
    <div class="col-md-6">
      <p>Millions of people, like my wife, stuggle with chronic conditions such as Multiple Sclerosis. These conditions are often accompanied by a host of maladies brought on by the primary illness and require many different prescriptions to manage symptoms.</p>

      <p>For years, I struggled with keeping track of which medications things like:</p>
      <ul>
        <li>Which medications were covered by insurance</li>
        <li>Which medications had manufacturer's discounts available</li>
        <li>Which pharmacy offered the best deal on each medication</li>
      </ul>
      <p>Sometimes, just remmbering which medications my wife was taking was a challenge. RxTracker was born from my need to, easily and simply track my wife's prescriptions.</p>

      <p>By using RxTracker to maintain this information, not only can you save money and stay organized, but you can have some peace of mind knowing that you're doing the best you can. RxTracker has helped me and I hope it will help you too. Thank you for considering RxTracker.</p>
    </div>
    <div class="col-md-6">
      <img src="~/img/medications.jpg">
    </div>
  </div>
</div>