<div class="container">
  <h2 class="text-center mt-5">Welcome!</h2>
  <p class="mt-5">
    Rx Tracker is a secure portal for you to track information about your prescriptions in an effort to help you stay organized.
  </p>
</div>
