@model RxTracker.ViewModels.Pharmacy.ListViewModel

<div class="container">
  <input type="hidden" id="View" value="Pharmacy" />
  <button type="button" id="btnCreate" class="btn btn-primary">Add New Pharmacy</button>
  <div class="row">
    <div class="col-4 scroll">
      <table class="table table-sm table-striped table-hover">
        <thead>
          <tr>
            <th>Pharmacy</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody id="listBody">
          @foreach (var pharmacy in Model.PharmacyList)
          {
            <tr data-id="@pharmacy.PharmacyId">
              <td>@pharmacy.Name</td>
              <td>@pharmacy.Address</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="col-1"></div>
    <div id="partialView" class="col-5"></div>
  </div>
</div>
