@model RxTracker.ViewModels.Transaction.EditViewModel

<form asp-action="Edit">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <input type="hidden" asp-for="Transaction.TransactionId" />

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Medication</span>
    </div>
    <select asp-for="Transaction.PrescriptionId" class="form-control" asp-items="@(new SelectList(Model.Prescription, "Value", "Text"))"></select>
    <span asp-validation-for="Transaction.PrescriptionId" class="text-danger"></span>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Pharmacy</span>
    </div>
    <select asp-for="Transaction.PharmacyId" class="form-control" asp-items="@(new SelectList(Model.Pharmacy, "Value", "Text"))"></select>
    <span asp-validation-for="Transaction.PharmacyId" class="text-danger"></span>
  </div>


  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Date</span>
    </div>
    <input type="date" asp-for="Transaction.DateFilled" class="form-control" required/>
    <span asp-validation-for="Transaction.DateFilled" class="text-danger"></span>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Cost</span>
    </div>
    <input type="number" asp-for="Transaction.Cost" class="form-control" />
    <span asp-validation-for="Transaction.Cost" class="text-danger"></span>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Insurance Used</span>
    </div>
    <input asp-for="Transaction.InsuranceUsed" class="form-control" />
    <span asp-validation-for="Transaction.InsuranceUsed" class="text-danger"></span>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Discounts Used</span>
    </div>
    <input asp-for="Transaction.InsuranceUsed" class="form-control" />
    <span asp-validation-for="Transaction.InsuranceUsed" class="text-danger"></span>
  </div>

  <div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary" />
    <button type="button" id="btnDelete" class="btn btn-danger">Delete</button>
  </div>
</form>